<% @stamp_options = Stamp.all.map{|u| [ u.name, u.id ] } %>
      <!-- xskin dashboard design start from here -->
      <div class="xskin-dshboard-design">
        <h3>New Stamp Image</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
            <li><a href="stamp_image">Stamp Images</a></li>
            <li class="current">New</li>
        </ul>

        <!-- user entry start from here -->
        <div class="xskin-users-entry">
            <ul class="tabs">
            <li class="tab-title"><a href="stamp_image"><i class="fa fa-list"></i> List</a></li>
            <li class="tab-title active"><a href="add_user"><i class="fa fa-user-plus"></i> Add new</a></li>
          </ul>

          <div class="tabs-content">

            <!-- add new tab start from here -->
             <div id="AddNew" class="content active">
                <div class="xskin-add-new-user">

                  <%= form_for @stamp_image, url: {action: "add_stamp_image"}, html: {class: "nifty_form"} do |f| %>
                    <div class="medium-6 columns left">
                      <%= f.label :Stamp %>
                      <%= f.select(:stamp_id, options_for_select(@stamp_options), {:include_blank => 'Select..'}) %>
                    </div>
                    <div class="medium-6 columns">
                      <%= f.label :image %>
                      <%= f.file_field :image %>
                    </div>
                    <div class="xskin-action">
                      <%= f.submit :class => 'button'  %>
                    </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
             </div>
             <!-- add new tab close from here -->

          </div>

        </div>
        <!-- user entry close from here -->

      </div>
      <!-- xskin dashboard design close from here -->

