 <div data-offcanvas="" class="off-canvas-wrap docs-wrap">
        <div class="inner-wrap">

          <header class="show-for-small-only">
        <div class="row">
        <div class="xskin-menu-with-logo">
            <div class="large-4 medium-4 columns">
            <div class="xskin-logo">
              <a href="#"><img src="images/Xskin-logo.png" title="xskin" alt="" /></a>
              </div>
              <div class="show-for-small-only mobile-search">
                <input type="submit" value="Send" />
              </div>
            </div>
            <!-- Xskin-logo close from here -->


              <div class="large-8 medium-8 columns hide-for-small-only">
                <ul class="xskin-menu">
                <li><a href="make-your-case.html">MAKE YOUR CASE</a></li>
                   <li class="active"><a href="store.html">STORE</a>
                    <ul class="sub-menu smooth">
                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">COLLECTION</span>
                          <li><a href="#">All Collections</a></li>
                          <li><a href="#">Mother of Pearl</a></li>
                          <li><a href="#">Top 100 Designs</a></li>
                          <li><a href="#">Casetify Band</a></li>
                          <li><a href="#">Summer Vibes</a></li>
                          <li><a href="#">Macbook Sleeve</a></li>
                          <li><a href="#">Metaluxe</a></li>
                        </ul>
                      </li>
                      <!-- collection submenu close from here -->

                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">categories</span>
                          <li><a href="#">Hex</a></li>
                          <li><a href="#">Sprayground</a></li>
                          <li><a href="#">PKG</a></li>
                          <li><a href="#">Poler Stuff</a></li>
                          <li><a href="#">Agent 18</a></li>
                          <li><a href="#">Otter box</a></li>
                          <li><a href="#">Life proof</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title"></span>
                          <li><a href="#">Casemate</a></li>
                          <li><a href="#">UAG</a></li>
                          <li><a href="#">Evutec</a></li>
                          <li><a href="#">Jason Markk</a></li>
                        </ul>
                      </li>
                      <!-- categories submenu close from here -->

                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">featured artist</span>
                          <li><a href="#">Monika Strigel</a></li>
                          <li><a href="#">Girly Trend</a></li>
                          <li><a href="#">Girly Road</a></li>
                          <li><a href="#">Budi Kwan</a></li>
                          <li><a href="#">Eskayel</a></li>
                        </ul>
                      </li>
                      <!-- featured artist submenu close from here -->

                      <li>
                        <ul class="xskin-submenu">
                        <span class="menu-title">products</span>
                          <li><a href="#">Gift Card</a></li>
                          <li><a href="#">Selfie Stick</a></li>
                          <li><a href="#">Muku MacroWide</a></li>
                          <li><a href="#">Selfie Pack</a></li>
                        </ul>
                      </li>
                      <!-- products submenu close from here -->

                    </ul>
                    </li>
                    <li><a href="#">iPHONE6</a></li>
                    <li><a href="#">APPLE WATCH</a></li>
                    <li class="xskin-search"><input type="submit" value="Send" /></li>
                </ul>
                </div>
                <!-- Xskin menu for destop close from here -->
                

                <nav class="tab-bar show-for-small-only">
                      <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" >
                        <span></span></a>
                      </section>

                      <section class="right tab-bar-section">
                        <h1 class="title">Menu</h1>
                      </section>

                      <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
                      </section>
                    </nav>

                         </div>
                        <aside class="left-off-canvas-menu">
                          <ul class="off-canvas-list">
                            <li><label>Menu</label></li>
                            <li><a href="make-your-case.html">MAKE YOUR CASE</a></li>
                            <li class="has-submenu"><a href="#">STORE</a>
                              <ul class="left-submenu smooth">
                              <li class="back"><a href="#">Back</a></li>
                              <li class="has-submenu"><a href="#">COLLECTION</a>
                                <ul class="left-submenu smooth">
                                <li class="back"><a href="#">Back</a></li>
                                  <li><a href="#">All Collections</a></li>
                                  <li><a href="#">Mother of Pearl</a></li>
                                  <li><a href="#">Top 100 Designs</a></li>
                                  <li><a href="#">Casetify Band</a></li>
                                  <li><a href="#">Summer Vibes</a></li>
                                  <li><a href="#">Macbook Sleeve</a></li>
                                  <li><a href="#">Metaluxe</a></li>
                                </ul>
                              </li>
                              <li class="has-submenu"><a href="#">CATEGORIES</a>
                                <ul class="left-submenu smooth">
                                <li class="back"><a href="#">Back</a></li>
                                  <li><a href="#">Hex </a></li>
                                  <li><a href="#">Sprayground</a></li>
                                  <li><a href="#">PKG </a></li>
                                  <li><a href="#">Poler Stuff</a></li>
                                  <li><a href="#">Agent 18</a></li>
                                  <li><a href="#">Life proof</a></li>
                                  <li><a href="#">Casemate</a></li>
                                  <li><a href="#">UAG</a></li>
                                  <li><a href="#">Evutec</a></li>
                                  <li><a href="#">Jason Markk</a></li>
                                  <li><a href="#">Otter box</a></li>
                                </ul>
                              </li>
                              <li class="has-submenu"><a href="#">FEATURED ARTIST</a>
                                <ul class="left-submenu smooth">
                                <li class="back"><a href="#">Back</a></li>
                                  <li><a href="#">Monika Strigel</a></li>
                                  <li><a href="#">Grily Road</a></li>
                                  <li><a href="#">Eskayel</a></li>
                                  <li><a href="#">Girly Trend</a></li>
                                  <li><a href="#">Budi Kwan</a></li>
                                </ul>
                              </li>
                              <li class="has-submenu"><a href="#">PRODUCTS</a>
                                <ul class="left-submenu smooth">
                                <li class="back"><a href="#">Back</a></li>
                                  <li><a href="#">Gift Card</a></li>
                                  <li><a href="#">Muku Macro Wide</a></li>
                                  <li><a href="#">Selfie Stick</a></li>
                                  <li><a href="#">Selfie Pack</a></li>
                                </ul>
                              </li>
                              </ul>
                              </li>
                            </li>
                            <li><a href="#">iPHONE6</a></li>
                            <li><a href="#">APPLE WATCH</a></li>
                            <li class="login"><a href="#">Login</a></li>
                          </ul>
                        </aside>

                        <!-- Search area for only mobile -->
                      <div class="show-for-small-only xskin-mobile-search" style="display: none;">
                          <div class="enter-keywords">
                          <input type="text" placeholder="Search Here |" />
                          </div>
                          <div class="press-enter mobile-search">
                            <input type="submit" value="Send" />
                          </div>
                          <div class="xskin-cross-search-item">
                               <img src="images/close.png" alt="" />
                             </div>
                        </div>
                        <!-- Search area for only mobile close from here -->


                        </div>
                      <!-- row close from here -->
                        </header>


          <div class="admin">
          <div class="row">
                <h1>Welcome to our admin</h1>
                <div class="xskin-login-form">
                <h2>
                  <i class="fa fa-user"></i>
                </h2>

                  <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <div class="field">
                  <%= f.text_field :email,:placeholder=>"Email" %>
                  </div>
                  <div class="field">
                  <%= f.password_field :password,:placeholder=>"Password" %>
                  </div>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <div class="field sign-in-forget-pass">
                  <%= f.submit 'Sign in',:class=>"button" %>
                  </div>
                  <% end %>

                  </div>
              </div>
          </div>
        <a href="#" class="exit-off-canvas"></a>
  </div>
  <!-- inner wrap close from here -->
</div>
<!-- off canvas wrap close from here -->
<div class="footer">
  &copy; copyright 2015. Privacy Policy
</div>