
      <!-- xskin dashboard design start from here -->
      <div class="xskin-dshboard-design">
        <h3>Edit Newsletter "#<%= @newsletter.id %>"</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/backend/newsletter">Newsletters</a></li>
            <li class="current">Edit</li>
        </ul>

        <!-- user entry start from here -->
        <div class="xskin-users-entry">
            <ul class="tabs">
            <li class="tab-title"><a href="show_newsletter"><i class="fa fa-camera"></i> Show</a></li>
            <li class="tab-title active"><a href="edit_newsletter"><i class="fa fa-pencil"></i> Edit</a></li>
            <li class="tab-title">
              <%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, "delete_newsletter", method: :delete, :title => "Delete", data: { confirm: 'Are you confirm you want to delete this?' } %>
            </li>
          </ul>

          <div class="tabs-content">

            <!-- add new tab start from here -->
             <div id="AddNew" class="content active">
                <div class="xskin-add-new-user">

                  <%= form_for @newsletter, url: {action: "edit_newsletter"}, html: {class: "nifty_form", method: "post"} do |f| %>
                    <div class="medium-6 columns">
                      <%= f.label :email %>
                      <%= f.text_field :email %>
                    </div>
                    <div class="xskin-action">
                      <%= f.submit :class => 'button'  %>
                    </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
             </div>
             <!-- add new tab close from here -->

          </div>

        </div>
        <!-- user entry close from here -->

      </div>
      <!-- xskin dashboard design close from here -->

