<% @user_options = User.all.map{|u| [ u.name, u.id ] } %>
      <!-- xskin dashboard design start from here -->
      <div class="xskin-dshboard-design">
        <h3>New User Meta</h3>
        <ul class="breadcrumbs">
            <li><a href="#">Dashboard</a></li>
            <li><a href="user_meta">User Metas</a></li>
            <li class="current">New</li>
        </ul>

        <!-- user entry start from here -->
        <div class="xskin-users-entry">
            <ul class="tabs">
            <li class="tab-title"><a href="user_meta"><i class="fa fa-list"></i> List</a></li>
            <li class="tab-title active"><a href="add_user"><i class="fa fa-user-plus"></i> Add new</a></li>
          </ul>

          <div class="tabs-content">

            <!-- add new tab start from here -->
             <div id="AddNew" class="content active">
                <div class="xskin-add-new-user">

                  <%= form_for @user_meta, url: {action: "add_user_meta"}, html: {class: "nifty_form"} do |f| %>
                    <div class="medium-6 columns left">
                      <%= f.label :user %>
                      <%= f.select(:user_id, options_for_select(@user_options), {:include_blank => 'Select..'}) %>
                    </div>
                    <div class="medium-6 columns">
                      <%= f.label :currency %>
                      <%= f.text_field :currency %>
                    </div>
                    <div class="xskin-action">
                      <%= f.submit :class => 'button'  %>
                    </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
             </div>
             <!-- add new tab close from here -->

          </div>

        </div>
        <!-- user entry close from here -->

      </div>
      <!-- xskin dashboard design close from here -->

