<div class="xskin-template">
  <section>
    <div class="row">
    <div class="slide-start columns">
    <div class="range-of-precisely-design temp-2-design">
      <%=image_tag"iwatch-1.jpg" %>
      <div class="design-collections">
      <div class="caption">
        <div class="make-your-own-skin">
        <h2>Range of</h2>
          <h1>Precisely Designed</h1>
          <a class="button" href="#">choose my design</a>
          </div>
          </div>
      </div>
    </div>

    <div class="range-of-precisely-design temp-2-design">
      <%=image_tag"iwatch-2.jpg" %>
      <div class="design-collections">
      <div class="caption">
        <div class="make-your-own-skin">
        <h2>Range of</h2>
          <h1>Precisely Designed</h1>
          <a class="button" href="javascript:void(0);">choose my design</a>
          </div>
          </div>
      </div>
    </div>
    <div class="range-of-precisely-design temp-2-design">
      <%=image_tag"iwatch-3.jpg" %>
      <div class="design-collections">
      <div class="caption">
        <div class="make-your-own-skin">
        <h2>Range of</h2>
          <h1>Precisely Designed</h1>
          <a class="button" href="javascript:void(0);">choose my design</a>
          </div>
          </div>
      </div>
    </div>



    </div>
    <div class="clearfix"></div>

    <div class="medium-3 text-center columns">
 <div class="slide-start">
          <div class="iphone-6">
            <%=image_tag"iwatch-1.png" %>
          <div class="masking smooth">
            <div class="xskin-add-to-cart">
              <div class="add-to-cart">
              <a href="#"><span class="smooth cart">
                <%=image_tag"zoom.png" %>
                </span></a>
                <a href="#"><span class="smooth cart your-cart">
                  <%=image_tag"add-to-cart.png" %>
                </span></a>
              </div>
            </div>
          </div>
        </div>

          </div>


          
        </div>
        <!-- single product design close from here -->

        <div class="medium-3 text-center columns">
          <div class="iphone-6">
            <%=image_tag"iwatch-2.png" %>
          <div class="masking smooth">
            <div class="xskin-add-to-cart">
              <div class="add-to-cart">
              <a href="#"><span class="smooth cart">
                <%= image_tag"zoom.png" %>
                </span></a>
                <a href="#"><span class="smooth cart your-cart">
                  <%= image_tag"add-to-cart.png" %>
                </span></a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- single product design close from here -->

        <div class="medium-3 text-center columns">
          <div class="iphone-6">
          <%= image_tag"iwatch-3.png" %>
          <div class="masking smooth">
            <div class="xskin-add-to-cart">
              <div class="add-to-cart">
              <a href="#"><span class="smooth cart">
                <%=image_tag "zoom.png" %>      
                </span></a>
                <a href="#"><span class="smooth cart your-cart">
                  <%= image_tag"add-to-cart.png" %>
                </span></a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- single product design close from here -->

        <div class="medium-3 text-center columns">
          <div class="iphone-6">
            <%= image_tag"iwatch-4.png" %>
          <div class="masking smooth">
            <div class="xskin-add-to-cart">
              <div class="add-to-cart">
              <a href="#"><span class="smooth cart">
                <%= image_tag"zoom.png" %>                
                </span></a>
                <a href="#"><span class="smooth cart your-cart">
                  <%= image_tag"add-to-cart.png" %>
                </span></a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- single product design close from here -->
  </div>
  </section>
</div>