<section class="xskin-my-gallery">
<div class="row">
<h4 class="shopping-cart hide-for-small-only">Hi! User</h4>
<div class="medium-4 small-12 left">
<%= render"layouts/user_menu" %>
        </div>
    <div class="medium-8 small-12 left">
      <div class="xskin-user-profile-data xskin-usergallery">

      <div class="medium-6 left small-6">
        <div class="iphone-6">
      <%=image_tag"watch01.jpg" %>
      <div class="masking smooth">
        <div class="xskin-add-to-cart">
          <div class="add-to-cart">
          <a href="#"><span class="smooth cart">
            <i class="fa fa-pencil"></i>
            </span></a>
            <a href="#"><span class="smooth cart your-cart">
            <%=image_tag"add-to-cart.png" %>
            </span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <span class="pro-name">#DESIGN 01</span>
    </div>
      </div>
        <!-- popular item close from here -->

        <div class="medium-6 left small-6">
        <div class="iphone-6">
      <%=image_tag"watch02.jpg" %>
      <div class="masking smooth">
        <div class="xskin-add-to-cart">
          <div class="add-to-cart">
          <a href="#"><span class="smooth cart">
            <i class="fa fa-pencil"></i>
            </span></a>
            <a href="#"><span class="smooth cart your-cart">
            <%=image_tag"add-to-cart.png" %>
            </span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <span class="pro-name">#DESIGN 02</span>
    </div>
      </div>
        <!-- popular item close from here -->


        <div class="medium-6 left small-6">
        <div class="iphone-6">
      <%=image_tag"watch01.jpg" %>
      <div class="masking smooth">
        <div class="xskin-add-to-cart">
          <div class="add-to-cart">
          <a href="#"><span class="smooth cart">
            <i class="fa fa-pencil"></i>
            </span></a>
            <a href="#"><span class="smooth cart your-cart">
            <%=image_tag"add-to-cart.png" %>
            </span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <span class="pro-name">#DESIGN 01</span>
    </div>
      </div>
        <!-- popular item close from here -->

        <div class="medium-6 left small-6">
        <div class="iphone-6">
      <%=image_tag"watch02.jpg" %>
      <div class="masking smooth">
        <div class="xskin-add-to-cart">
          <div class="add-to-cart">
          <a href="#"><span class="smooth cart">
            <i class="fa fa-pencil"></i>
            </span></a>
            <a href="#"><span class="smooth cart your-cart">
            <%=image_tag"add-to-cart.png" %>
            </span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <span class="pro-name">#DESIGN 02</span>
    </div>
      </div>
        <!-- popular item close from here -->

        


        <div class="clearfix"></div>
      </div>
                              </div>
                            </div>
                          </div>


    <!-- medium-8 small-12 left -->
</div>
</section>