<section class="skin-content">
  <div class="row">
    <div class="xskin-content-section">
      <!-- sidebar start from here -->
        <div class="medium-3 left hide-for-small-only">
          <div class="sidebar">
            <div class="iphone-6">
            <%= image_tag "iPhone6-front.jpg" %>              
              <div class="masking smooth">
                <div class="xskin-add-to-cart">
                  <div class="add-to-cart">
                  <a href="#"><span class="smooth cart">
                  <%= image_tag "zoom.png" %>
                    </span></a>
                    <a href="#"><span class="smooth cart your-cart">
                    <%= image_tag "add-to-cart.png" %>
                    </span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- iPhone6 close from here -->
            <div class="iphone-6">
            <%= image_tag "iPhone6-back.jpg" %>
              <div class="masking smooth">
                <div class="xskin-add-to-cart">
                  <div class="add-to-cart">
                  <a href="#"><span class="smooth cart">
                    <%= image_tag "zoom.png" %>
                    </span></a>
                    <a href="#"><span class="smooth cart your-cart">
                    <%= image_tag "add-to-cart.png" %>
                    </span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- iPhone6 close from here -->
          </div>
        </div>
        <!-- sidebar close from here -->


        <!-- slider start from here -->
        <div class="medium-6 columns">

        <div class="slide-start">
          <div class="xskin-slider">
            <div class="xskin-slide">
              <%=image_tag"iphone-background.jpg",:class=>"xskin-slide-back-img" %>
            </div>

            <div class="xskin-slide-caption">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h2>make your own</h2>
                    <h1>skin</h1>
                    <a href="#" class="button">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- slide caption close from here -->
          </div>

          <div class="xskin-slider">
            <div class="xskin-slide">
              <%=image_tag"iphone-background-1.jpg",:class=>"xskin-slide-back-img" %>
            </div>

            <div class="xskin-slide-caption">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h2>make your own</h2>
                    <h1>skin</h1>
                    <a href="#" class="button">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- slide caption close from here -->
          </div>
          <div class="xskin-slider">
            <div class="xskin-slide">
              <%=image_tag"iphone-background-2.jpg",:class=>"xskin-slide-back-img" %>
            </div>

            <div class="xskin-slide-caption">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h2>make your own</h2>
                    <h1>skin</h1>
                    <a href="#" class="button">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- slide caption close from here -->
          </div>
          <div class="xskin-slider">
            <div class="xskin-slide">
              <%=image_tag"iphone-background-3.jpg",:class=>"xskin-slide-back-img" %>
            </div>

            <div class="xskin-slide-caption">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h2>make your own</h2>
                    <h1>skin</h1>
                    <a href="#" class="button">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- slide caption close from here -->
          </div>

          </div>

        </div>
        <!-- slider close from here -->


        <div class="medium-3 left hide-for-small-only">
          <div class="sidebar">
            <div class="iphone-6">
              <%=image_tag"girl-using-iphone.jpg" %>
              <div class="xskin-top-design">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h3>top 100<br><span>Design</span></h3>
                    <%= link_to"See More", top_design_path,:class=>"button" %>
                  </div>
                </div>
              </div>
              </div>
              <!-- top design caption close from here -->

            </div>
            <div class="iphone-6">
              <%=image_tag"mans-using-iphone.jpg" %>
              <div class="xskin-top-design">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                  <h5>Give your friend</h5>
                  <h3>get &dollar;10</h3>
                  <%= link_to"See More", invite_path,:class=>"button" %>
                  </div>
                </div>
              </div>
              </div>
              <!-- top design caption close from here -->
            </div>
          </div>
        </div>
        </div>
      <!-- design only for mobile -->
      <div class="small-12 show-for-small-only">
          <div class="xskin-slider">
            <div class="xskin-slide">
              <%=image_tag "iphone-background.jpg" %>
            </div>
            <div class="xskin-slide-caption">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h2>make your own</h2>
                    <h1>skin</h1>
                    <a class="button" href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- slide caption close from here -->
          </div>
        </div>
        <div class="small-12 left show-for-small-only">
          <div class="sidebar">
            <div class="iphone-6">
              <%=image_tag"girl-using-iphone.jpg" %>
              <div class="xskin-top-design">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                    <h3>top 100<br><span>Design</span></h3>
                    <a href="#" class="button">see more</a>
                  </div>
                </div>
              </div>
              </div>
              <!-- top design caption close from here -->
            </div>
            <div class="iphone-6">
              <%=image_tag"mans-using-iphone.jpg" %>

              <div class="xskin-top-design">
              <div class="caption">
                <div class="make-your-own-skin">
                  <div class="slide-cap">
                  <h5>Give your friend</h5>
                    <h3>get &dollar;10</h3>
                    <a href="#" class="button">see more</a>
                  </div>
                </div>
              </div>
              </div>
              <!-- top design caption close from here -->
            </div>
          </div>
        </div>
        <div class="small-12 left show-for-small-only">
          <div class="sidebar">
            <div class="iphone-6 mobile-view">
              <%=image_tag"iPhone6-front.jpg" %>
              <div class="masking smooth">
                <div class="xskin-add-to-cart">
                  <div class="add-to-cart">
                  <a href="#"><span class="smooth cart">
                    <%=image_tag"zoom.png" %>
                    </span></a>
                    <a href="#"><span class="smooth cart your-cart">
                    <%=image_tag"add-to-cart.png" %>
                    </span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- iPhone6 close from here -->
            <div class="iphone-6 mobile-view">
              <%=image_tag"iPhone6-back.jpg" %>
              <div class="masking smooth">
                <div class="xskin-add-to-cart">
                  <div class="add-to-cart">
                  <a href="#"><span class="smooth cart">
                    <%=image_tag "zoom.png" %>
                    </span></a>
                    <a href="#"><span class="smooth cart your-cart">
                    <%=image_tag"add-to-cart.png" %>
                    </span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- iPhone6 close from here -->
          </div>
        </div>
        </div>
</section>