<section>
<div class="xsking-spotting">
  <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
      <%=image_tag"spotting/iphone-3d-look.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/couple.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/funny-couple.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/laughing-girl.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/caputre-salfie.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/roman-couple.jpg" %>      
  <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/girl-iphone.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/hphotos-xpa.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/shopping-with-apple.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/iWatch.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
      <%=image_tag"spotting/iphone-multiple-color.jpg" %>      
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/apple-watch.jpg" %>      
  <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/personal-pic-cover.jpg" %> 
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/iphone-or-book.jpg" %> 
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/selfie-4.jpg" %> 
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
  <%=image_tag"spotting/selfie-3.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/selfie-2.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/selfie-1.jpg" %>

  <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/smart-selfie-with-iphone.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%= image_tag"spotting/apple-products.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/beauty-selfie.jpg"  %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%= image_tag"spotting/iphone-see.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/cartoon-ad-iphone.jpg" %>
      <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>
    <aside class='small-12 large-2 medium-6 columns da-thumbs'>
  <div class="xskin-spotting-grid">
  <div class="spotting-hover">
    <%=image_tag"spotting/man-selfie.jpg" %>
  <article class="da-animate da-slideFromRight" style="display: block;">
      <div class="zoom">
        <div class="search">
          <i class="fa fa-search-plus"></i>
        </div>
      </div>
    </article>
      </div>
    </div>
    </aside>

    </div>
</section>
<!-- spotting xskin close from here -->