<section class="xskin-my-gallery">
<div class="row">
<h4 class="shopping-cart hide-for-small-only">Hi! User</h4>
<div class="medium-4 small-12 left">
<%= render"layouts/user_menu" %>
        </div>
<div class="medium-8 small-12 left">
    <div class="xskin-user-profile-data">
    <table cellpadding="0" cellspacing="0" class="track_order">
      <tr>
        <th scope="column">Order No.</th>
        <th scope="column">Order Date</th>
        <th scope="column">Status</th>
        <th scope="column">Details</th>
      </tr>
      <tr>
        <td>2984039</td>
        <td>04/09/2015</td>
        <td>In Progress</td>
        <td class="see-detail"><a href="javascript:void(0);">See Detail &nbsp; <i class="fa fa-angle-right"></i></a></td>
        <td class="close-detail"><a href="javascript:void(0);">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a></td>
      </tr>

      <tr class="track_order_detail">
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="membership-track">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>Item</th>
                        <th>&nbsp;</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                       <tr>
                        <td align="right" class="membership06" colspan="4">Subtotal : $210.00<br>
                          Delivery : $ 0.00<br>
                          <span class="membership03">Total : $210.00</span></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td scope="row">2796549</td>
        <td scope="row">18/08/2015</td>
        <td scope="row">Shipped on 22/08/2015</td>        
        <td class="see-detail"><a href="javascript:void(0);">See Detail &nbsp; <i class="fa fa-angle-right"></i></a></td>
        <td class="close-detail"><a href="javascript:void(0);">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a></td>
      </tr>
      <tr class="track_order_detail">
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="membership-track">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>Item</th>
                        <th>&nbsp;</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                       <tr>
                        <td align="right" class="membership06" colspan="4">Subtotal : $210.00<br>
                          Delivery : $ 0.00<br>
                          <span class="membership03">Total : $210.00</span></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>2983895</td>
        <td>04/08/2015</td>
        <td>Shipped on 12/08/2015</td>
        <td class="see-detail"><a href="javascript:void(0);">See Detail &nbsp; <i class="fa fa-angle-right"></i></a></td>
        <td class="close-detail"><a href="javascript:void(0);">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a></td>
      </tr>

      <tr class="track_order_detail">
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="membership-track">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>Item</th>
                        <th>&nbsp;</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                       <tr>
                        <td align="right" class="membership06" colspan="4">Subtotal : $210.00<br>
                          Delivery : $ 0.00<br>
                          <span class="membership03">Total : $210.00</span></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>2678939</td>
        <td>07/07/2015</td>
        <td>Shipped on 11/07/2015</td>
        <td class="see-detail"><a href="javascript:void(0);">See Detail &nbsp; <i class="fa fa-angle-right"></i></a></td>
        <td class="close-detail"><a href="javascript:void(0);">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a></td>
      </tr>

      <tr class="track_order_detail">
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="membership-track">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>Item</th>
                        <th>&nbsp;</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                       <tr>
                        <td align="right" class="membership06" colspan="4">Subtotal : $210.00<br>
                          Delivery : $ 0.00<br>
                          <span class="membership03">Total : $210.00</span></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>4568764</td>
        <td>23/05/2015</td>
        <td>Shipped on 26/05/2015</td>
        <td class="see-detail"><a href="javascript:void(0);">See Detail &nbsp; <i class="fa fa-angle-right"></i></a></td>
        <td class="close-detail"><a href="javascript:void(0);">CLOSE DETAIL &nbsp; <i class="fa fa-close"></i></a></td>
      </tr>
      
      <tr class="track_order_detail">
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="membership-track">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>Item</th>
                        <th>&nbsp;</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td class="track-order-img">
                        <%=image_tag"watch01.jpg" %>
                        </td>
                        <td>
                          Galaxy Stars - Apple Watch Band (38mm)
                        </td>
                        <td>
                          1
                        </td>
                        <td>
                          &dollar; 70
                        </td>
                      </tr>
                       <tr>
                        <td align="right" class="membership06" colspan="4">Subtotal : $210.00<br>
                          Delivery : $ 0.00<br>
                          <span class="membership03">Total : $210.00</span></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>


    <div class="clearfix"></div>
  </div>
</div>


    <!-- medium-8 small-12 left -->
</div>
</section>